<!-- team -->
<section class="section-lg team" id="team">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Equipo</h2>
        <p class="mb-100">
          Conoce al equipo que hace posible cada idea:<br />
          un grupo de personas apasionadas, creativas y comprometidas con transformar retos en soluciones.
        </p>
      </div>
    </div>
    <div class="col-10 mx-auto">
      <div class="team-slider">
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/Equipo1.jpeg" alt="team-member" />
            </div>
            <div class="align-self-center">
              <h4>Ingeniero Oscar Augusto Diaz</h4>
              <h6 class="text-color">Lider del Semillero</h6>
            </div>
          </div>
          <p>
            Magíster en Ciencia de Datos y Diseño de Entornos Virtuales de Aprendizaje. Profesor investigador. Experto
            en gestión de datos y documentos, rediseño de procesos, planificación estratégica y metodologías basadas en
            datos para la toma de decisiones. Su trabajo integra la tecnología con el propósito de generar impactos
            positivos tanto en la sociedad como en el medio ambiente.


          </p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-2.jpg" alt="team-member" />
            </div>
            <div class="align-self-center">
              <h4>Laura Sophia Zapata Coronado</h4>
              <h6 class="text-color">Estudiante</h6>
            </div>
          </div>
          <p>
            Estudiante de séptimo semestre de Ingeniería de Sistemas. Hace parte del semillero de investigación
            DataTech, donde ha fortalecido sus habilidades en análisis de datos, desarrollo de proyectos y trabajo
            colaborativo. Ha participado activamente en eventos académicos como RedCOLSI nodo Tolima, el Encuentro
            Nacional de Semilleros de Investigación y el Programa Delfín de verano de la ciencia, aportando con
            compromiso y pasión por la innovación tecnológica.


          </p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-3.jpg" alt="team-member" />
            </div>
            <div class="align-self-center">
              <h4>Erik Ligas</h4>
              <h6 class="text-color">Programmer</h6>
            </div>
          </div>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. S eparated they
          </p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-1.jpg" alt="team-member" />
            </div>
            <div class="align-self-center">
              <h4>Erik Ligas</h4>
              <h6 class="text-color">Programmer</h6>
            </div>
          </div>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. S eparated they
          </p>
        </div>
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img class="rounded-circle img-fluid" src="images/team/team-2.jpg" alt="team-member" />
            </div>
            <div class="align-self-center">
              <h4>John Doe</h4>
              <h6 class="text-color">web developer</h6>
            </div>
          </div>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. S eparated they
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- backgound image -->
  <img src="images/backgrounds/team-bg.png" alt="team-bg" class="img-fluid team-bg" />
  <!-- background shapes -->
  <img class="team-bg-shape-1 up-down-animation" src="images/background-shape/seo-ball-1.png" alt="background-shape" />
  <img class="team-bg-shape-2 left-right-animation" src="images/background-shape/seo-ball-1.png"
    alt="background-shape" />
  <img class="team-bg-shape-3 left-right-animation" src="images/background-shape/team-bg-triangle.png"
    alt="background-shape" />
  <img class="team-bg-shape-4 up-down-animation img-fluid" src="images/background-shape/team-bg-dots.png"
    alt="background-shape" />
</section>
<!-- /team -->