<!-- newsletter -->
<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Se parte de nuestro semillero</h2>
        <p class="mb-5">¡Contactanos y nos comunicaremos contigo!</p>
      </div>
      <div class="col-lg-8 col-sm-10 col-12 mx-auto">
        <form action="#">
          <div class="input-wrapper position-relative">
            <input
              type="email"
              class="newsletter-form"
              id="newsletter"
              placeholder="Ingresa tu Correo"
            />
            <button type="submit" value="send" class="btn newsletter-btn">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img
    class="newsletter-bg-shape left-right-animation"
    src="images/background-shape/seo-ball-2.png"
    alt="background-shape"
  />
</section>
<!-- /newsletter -->
